#text-font{
  font-family: 'Montserrat', sans-serif;
}
.techfont{
    font-size: 1.3em;
	margin-bottom: 10px;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;




}
.text-about{
  font-size: 1.3em;
}
.text-about>h1{
  font-weight: bold;
}

.comment{
  font-size: 1.3em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.post{
  margin-top: 1.5em;
  border-radius: 1.5em;
  -webkit-box-shadow: 9px 10px 10px -4px #000000;
  box-shadow: 7px 7px 7px -4px lightgray;
  padding: 1em;
  background-color: whitesmoke;
}

.bigbrand{
    font-weight: bold;
	font-size: 1.5em;
}

div.centerstage{
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.postdate{
  text-align: center;
}

.posttitle{
  font-size: 3em;
  text-align: center;
}

.postcontent{
  font-size: 1.5em;
}
.blog_posts>h1{
  font-weight: bold;
}

.btn-comment{
  position: absolute;
  right: 0px;
}